.navbar_button {

    border-radius: 8px;
    background: linear-gradient(90deg, #23899C 13.04%, #2CA068 91.03%);
    color: #fff;
    margin-top: 6px;
    border-radius: 7px;
    font-weight: 700;
    border: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    .navbar-toggler {
        position: fixed;
        margin-left: 90%;
        margin-top: 10px;
    }

    .navbar-brand {
        position: fixed;
    }

    .abouut_collapse {
        margin-top: 70px;
    }
}




.element-home .nav-bar {
    position: fixed;
    width: 100%; /* Adjust width as needed */
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000; /* Set a high z-index value */
    box-shadow: 4px 4px 8px #0000000d;
    background-color: white;
  }
  
  
  
  .element-home .overlap-22 {
    position: relative;
    height: 90px;
  }
  
  .element-home .frame-110 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    top: 33px;
    left: 609px;
  }
  
  .element-home .div-4 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .element-home .text-wrapper-58 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #666967;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .element-home .menu-down-2 {
    position: relative;
    width: 12px;
    height: 12px;
  }
  
  .element-home .frame-111 {
    display: inline-flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(35, 137, 156) 13.04%, rgb(44, 160, 104) 91.03%);
  }
  
  .element-home .text-wrapper-59 {
    margin-top: -5px;
    margin-bottom: -3px;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
  }
  
  

/* navbar css completed================================================ */


/* for about page session2============================================== */
.about_session2_maindiv {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 434px;
    gap: 0px;
    opacity: 0px;
    background: rgba(36, 139, 151, 0.05);
    position: relative;
}

.about_session2_text_div1 {
    width: 800px;
    height: 140px;
    /* margin-left: 300px; */

    margin-top: 98px;
    position: absolute;

}

.about_session2_text_para1 {
    color: black;
    font-family: ' Source Sans Pro';
    font-size: 56px;
    font-weight: 600;
    line-height: 70.39px;
    text-align: center;

}

.about_session2_text_span {
    color: rgba(44, 160, 104, 1);
}

.about_session2_text_div2 {
    width: 800px;
    height: 56px;
    top: 290px;
    left: 320px;
    gap: 0px;
    opacity: 0px;

}

.about_session2_text_para2 {
    font-family: ' Source Sans Pro';
    font-size: 22px;
    font-weight: 600;
    line-height: 27.65px;
    text-align: center;
    color: black;

}

@media (min-width: 320px) and (max-width: 768px) {

    .about_session2_maindiv {
        width: 100% !important;

        height: 350px;

        background: rgba(36, 139, 151, 0.05);

        /* position: relative; */

    }

    .about_session2_text_div1 {
        width: auto;
        height: 60px !important;
        margin-top: -20px;
        /* background-color: #000000;    */

        /* padding: 50px; */

    }

    .about_session2_text_para1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 45.25px;
        text-align: center;
        padding: 50px;

    }

    .about_session2_text_div2 {
        width: auto;
        height: 60px;
    }

    .about_session2_text_para2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.11px;
        text-align: center;

        /* margin: 10px; */
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -30px;


    }

}






/* for about page session2 completed============================================== */
.about_session3_maindiv {
    top: 632px;
    left: 124px;
    padding: 24px 0px 46px 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_session3_row {
    width: 100%;
    margin-top: 24px;
}

.about_session3_col1 {
    /* width: 588px; */
    height: 367px;
    /* background-color: #92ecc1; */
    /* margin-left: 30px; */
    /* margin-top: 0px; */
    padding-top: 40px;

}

.about_session3_col1_img1{
    margin-top: -50px;
    margin-left: -50px;
}

.about_session3_p1 {
    font-family: ' Source Sans Pro';
    font-size: 50px;
    font-weight: 600;
    line-height: 62.85px;
    text-align: left;
    margin-top: -175px;
    /* margin-left: 60px; */


}



.about_session3_p1_maindiv {
    /* width: 588px; */
    height: 63px;
    margin-top: 60px;

}

.about_session3_p2 {
    margin-top: 123px;
    /* margin-left: 60px; */
    font-family: ' Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    line-height: 25.14px;
    text-align: left;
    width: 500px;
}

.about_session3_p3 {
    /* margin-left: 60px; */
    font-family: ' Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 500px;

}

.about_session3_col2 {
    padding-top: 40px;
    margin-right: -100px;

}

@media (min-width: 320px) and (max-width: 768px) {
    .about_session3_maindiv {
        height: 100%;
        /* top: 632px; */
        left: 124px;
        padding: 24px 0px 46px 0px;
        margin-left: 10px;

        /* width: 100% !important; */
    }

    .about_session3_row {
        /* width: 100%; */
        margin-top: 0px !important;

    }

    .about_session3_col2 {
        padding-top: 90px !important;

    }

    .about_session3_p1 {
        font-family: ' Source Sans Pro';
        font-size: 36px;
        font-weight: 600;
        /* line-height: 45.25; */
        text-align: left;
        margin-top: -175px;
        margin-left: 60px;

        width: 190px !important;


    }

    .about_session3_p2 {
        margin-top: 90px;
        /* margin-left: -30px; */
        font-family: ' Source Sans Pro';
        font-size: 14px;
        font-weight: 600;
        line-height: 17.6px;
        text-align: left;
        width: 280px;
        height: 36PX;


    }

    .about_session3_p3 {
        /* margin-left: -30px; */
        font-family: ' Source Sans Pro';
        /* width: 320px; */
        width: 280px;
        height: 140px !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;

    }
    .about_session3_col2 {
        margin-top: 70px !important;
        width: 448px !important;
        height: 289px !important;



    }

  .about_session3_col1_img1{
    margin-top: -50px;
    margin-left: 0px;
}


    .about_session3_col2_img {
        margin-left: -13px;
        width: 310px;
        margin-top: -100px !important;


    }
}









.about_session3_container{
    margin-top: 100px !important;
}

.about-session-h2{
    margin-top: -135px !important;
    margin-left: 60px;

font-size: 50px;
font-weight: 600;
line-height: 62.85px;
text-align: left;

}
.about-session-description {
    margin-top: 80px;
margin-left: 60px;
font-size: 20px;
font-weight: 600;
line-height: 25.14px;
text-align: left;
color: #414042;


}
.about-session-details{
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: left;
color:#676968;
margin-left: 60px;


}


@media (max-width: 768px) {
.about_session3_container{
    margin-top:50px !important;
}

.about-session-h2{
font-size: 36px;
font-weight: 600;
line-height: 45.25px;
/* text-align: center; */
margin-top: -90px !important;
margin-left: 20px !important;     
}


.about-session-description {
    margin-left: 20px !important;
font-size: 14px;
font-weight: 600;
line-height: 17.6px;
text-align: left;
margin-top:50px;
color:  #414042;


}
.about-session3-img{
    width: 92.87px;
height: 92.87px;
margin-left: -10px;
}
.about-session-details{
    margin-left: 20px !important;

font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #676968;


}

}









/* <!-- About page session3 finished================================================================================================================================================ --> */
.about-session4-container{
    margin-top: 100px !important;
}

.about-session4-top-para {
    font-family: 'Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
}
.about-session4-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-session4-top-span {
    font-family: 'Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    color: rgba(44, 160, 104, 1);
    position: relative;
}

.about-session4-top-span::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 10px;
    width: 50px;
    height: 4px;
    border-radius: 8px;
    background-color: #2CA068;
}

.about-session4-image {
    border-top-left-radius: 70px;
    border-bottom-right-radius: 140px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-session4-col2 {
    padding-top: 100px;
}

.about-session4-col2-p1 {
    margin-top: 20px !important;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    line-height: 30.17px;
    text-align: left;
}

.about-session4-col2-p2,
.about-session4-col2-p4 {
    font-family: 'Source Sans Pro';
    width: 550px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(103, 105, 104, 1);
}

.about-session4-col2-p3 {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    line-height: 30.17px;
    text-align: left;
}

@media (max-width: 768px) {
    .about-session4-top-para {
        font-size: 32px;
        line-height: 40.22px;
    }
    .about-session4-image-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-session4-image-div img{
        width: 100%;
    }
    .about-session4-top-span {
        font-size: 32px;
        line-height: 40.22px;
    }

    .about-session4-top-span::after {
        width: 30px;
    }

    .about-session4-image {
        width: 300px !important;
        height: 304px !important;
        margin-top: 30px;
    }

    .about-session4-col2-p1 {
        margin-top: 20px !important;
        font-size: 20px;
        line-height: 25.14px;
    }

    .about-session4-col2-p2,
    .about-session4-col2-p4 {
        width: 100%;
        height: auto;
        text-align: justify;
    }

    .about-session4-col2-p3 {
        font-size: 20px;
        line-height: 25.14px;
        margin-top: 20px;
    }
}

/* <!-- About page session4 finished ================================================================================================================================================ --> */
.about_session5_maindiv {
    /* width: 1192px; */
    width: 100%;
    height: 633px;
    margin-left: 90px;
    /* background-color: aquamarine; */
    max-width: 1192px;
    /* width: 100%; */
    /* height: 633px; */
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.check{
 margin-top: 100px !important;   
}

.about_session5_maincol{
    margin-top: -400px !important;
}

.about_session5_p1 {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    width: 490px;

}

.about_session5_span {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    color: rgba(44, 160, 104, 1);
    position: relative;
}

.about_session5_span::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 160px;
    width: 50px;
    height: 4px;
    border-radius: 8px;
    background-color: #2CA068;
}

.about_session5_p2 {
    font-family: ' Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    /* width: 420px; */
    line-height: 20.11px;
    text-align: left;
    color: rgba(103, 105, 104, 1);

}
.about_session5_column1 .about_session5_card{
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.about_session5_column1{
    /* background-color: aqua; */
}
.about_session5_column2 .about_session5_card{
    margin-bottom: 20px;
    width: 300px;
    margin-left: 50px;
}


.about_session5_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

.about_session5_title {
    font-family: ' Source Sans Pro';
    font-size: 18px;
    font-weight: 600;
    line-height: 22.63px;
    text-align: left;
    margin-top: 8px;
}

.about_session5_para {
    font-family: ' Source Sans Pro';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 8px;
}


/* Styles for screens smaller than 768px (tablets and mobile devices) */
@media (max-width: 320px) {
    .about_session5_maindiv {
        margin: 30px auto;
        padding: 0 15px;
        margin-top: 500px !important;

    }

    .about_session5_span::after {
        margin-left: 12px;
        margin-top: 24px;
    }

    .about_session5_p1,
    .about_session5_span {
        font-size: 32px;
        line-height: 1.2;
        width: 300px;
    }

    .about_session5_p1 {
        margin-left: 0px !important;
    }

    .about_session5_p2 {
        font-size: 16px;
        /* max-width: 100%; */
        /* width: 300px; */
        margin: 0 auto;
    }

    .about_session5_card {

        margin-bottom: 15px;
        /* width: 290px !important; */
        margin-top: 10px !important;
        /* margin-right: 10px !important; */

    }
    .about_session5_column1 .about_session5_card{
        width: auto !important;
        margin-left: 0px;
    }
    .about_session5_column2 .about_session5_card{
        width: auto !important;
        margin-left: 1px;
    }
    .about_session5_maincol{
        margin-top: 0px !important;
    }

    .about_session5_img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .about_session5_title {
        font-size: 16px;
        margin-top: 8px;
    }

    .about_session5_para {
        font-size: 12px;
        margin-top: 8px;
    }
}

@media (min-width: 321px) and (max-width:375px) {
    .about_session5_maindiv {
        margin: 30px auto;
        padding: 0 15px;
        margin-top: 480px !important;


    }

    .about_session5_p1,
    .about_session5_span,


    .about_session5_span::after {
        margin-left: 12px;
        margin-top: 24px;
    }

    .about_session5_p1,
    .about_session5_span {
        font-size: 32px;
        line-height: 1.2;
        width: 300px;
    }

    .about_session5_p1 {
        margin-left: 0px !important;
    }

    .about_session5_p2 {
        font-size: 16px;
        /* max-width: 100%; */
        /* width: 350px; */
        /* margin: 0 auto;  */
    }

    .about_session5_card {

        margin-bottom: 15px;
        /* width: 330px !important; */
        margin-top: 5px !important;
        /* margin-right: 10px !important; */
    }
    .about_session5_column1 .about_session5_card{
        width: auto !important;
        margin-left: 0px;
    }
    .about_session5_column2 .about_session5_card{
        width: auto !important;
        margin-left: 1px;

    }
    .about_session5_maincol{
        margin-top: 0px !important;
    }


    .about_session5_img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .about_session5_title {
        font-size: 16px;
        margin-top: 8px;
    }

    .about_session5_para {
        font-size: 12px;
        margin-top: 8px;
    }
}


@media (min-width: 376px) and (max-width:425px) {
    .about_session5_maindiv {
        margin: 30px auto;
        padding: 0 15px;
        margin-top: 450px !important;

    }

    .about_session5_p1,
    .about_session5_span,

    .about_session5_span::after {
        margin-left: 12px;
        margin-top: 24px;
    }

    .about_session5_p1,
    .about_session5_span {
        font-size: 32px;
        line-height: 1.2;
        width: 300px;
    }

    .about_session5_p1 {
        margin-left: 0px !important;
    }

    .about_session5_p2 {
        font-size: 16px;
        /* max-width: 100%; */
        /* width: 380px; */
        /* margin: 0 auto;  */
    }

    .about_session5_card {

        margin-bottom: 15px;
        width: 390px !important;
        margin-top: 3px !important;
        /* margin-right: 10px !important; */
    }
    .about_session5_column1 .about_session5_card{
        width: auto !important;
        margin-left: 0px;
    }
    .about_session5_column2 .about_session5_card{
        width: auto !important;
        margin-left: 1px;

    }

    .about_session5_maincol{
        margin-top: 0px !important;
    }

    .about_session5_img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .about_session5_title {
        font-size: 16px;
        margin-top: 8px;
    }

    .about_session5_para {
        font-size: 12px;
        margin-top: 8px;
    }
}




/* <!-- About page session5 finished ================================================================================================================================================ --> */

/* <!-- About page session6 ================================================================================================================================================ --> */
.about_session6_maindiv {
    /* width: 1192px; */
    width: 100%;
    height: 614px;
    margin-top: 20px;
    margin-left: 90px;
    /* background-color: aquamarine; */



    max-width: 1192px;
    /* width: 100%; */
    /* height: 633px; */
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

}

.about_session6_para {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;

}

.about_session6_span {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    color: rgba(44, 160, 104, 1);


}

.about_session6_card_img {
    width: 42px;
    height: 42px;
    margin-top: 40px;
    margin-left: 38px;


}

.session6_card_title {
    margin-top: 26px;
    margin-left: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

}

.session6_card_para {
    font-family: ' Source Sans Pro';
    font-size: 15px;
    /* font-weight: 100; */
    line-height: 24px;
    text-align: left;
    margin-left: 38px;
}

/* <!-- About page session6 finished ================================================================================================================================================ --> */


/* <!-- About page session7 ================================================================================================================================================ --> */

.about_session7_maindiv {
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.about_session7_background_div {
  background: rgba(35, 137, 156, 0.05);
  width: 100%;
  /* padding: 20px; */
}

.about_session7_main_para {
  font-family: 'Source Sans Pro';
  font-size: 48px;
  font-weight: 600;
  line-height: 60.34px;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
}

.about_session7_main_span {
  color: rgba(44, 160, 104, 1);
}

.about_session7_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.about_session7_card {
  width: 100%;
}
.about_session7_grid_container .card{
    border: none;
}
.about_session7_img {
  width: 38px;
  height: 38px;
  margin-top: 20px;
  margin-left: 20px;
}

.about_session7_title {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: 600;
  line-height: 25.14px;
  text-align: left;
}

.about_session7_text {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

@media (max-width: 768px) {
  .about_session7_grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about_session7_main_para{
    font-size: 32px;
    margin-bottom: 20px;
  }
  .about_session7_title{
font-size: 18px;
font-weight: 600;
line-height: 22.63px;
text-align: left;

  }
  .about_session7_text{
    font-family: Source Sans Pro;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #676968;

  }
  .about_session7_img {
    width: 38px;
    height: 32px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* <!-- About page session7 finished ================================================================================================================================================ --> */
/* <!-- About page session8 ================================================================================================================================================ --> */
.about_session8_maindiv {
    max-width: 1192px;
    width: 100%;
    height: 633px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.about_session8_col1 {
    /* background-color: darkgreen; */
}

.about_session8_para1 {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;

    /* margin-top: 50px; */
    /* margin-left: -5px; */
}

.about_session8_span1 {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: center;
    margin-top: 50px;
    color: rgba(44, 160, 104, 1);
}

.about_session8_para2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    width: 400px;
    /* margin-left: 120px; */
    margin-top: 50px;
    /* margin-left: 90px; */

}

.about_session8_para3 {
    font-family: ' Source Sans Pro';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    margin-top: 30px;
    /* margin-left: 90px; */
}

.about_session8_button {
    width: 161px;
    height: 42px;
    padding: 10px 20px 10px 20px;
    gap: 8px;
    border-radius: 8px;
    background: linear-gradient(90deg, #23899C 13.04%, #2CA068 91.03%);
    font-family: ' Source Sans Pro';
    font-size: 18px;
    font-weight: 700;
    line-height: 22.63px;
    text-align: left;
    color: white;
    border: none;
    text-align: center;
    /* margin-left: 120px; */
    /* margin-left: 90px; */
}

.about_session8_image {
    margin-left: 185px;
    margin-top: 20px;
}


.bottom-buttons {
    text-align: center;
    margin-top: 50px;
    /* gap: 10px; */
}

.bottom-buttons button {
    width: 10px;
    height: 10px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background-color: rgba(196, 196, 196, 1);
    cursor: pointer;
    border: none;

}

.bottom-buttons button.active {
    background: rgba(44, 160, 104, 1);
    width: 24px;
    height: 8px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;


}

@media only screen and (max-width: 320px) {
    .about_session8_maindiv {
        height: auto;
        margin-top: 50px;
        position: relative;
    }

    .about_session8_para1 {
        width: 280px;
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: center;


    }

    .about_session8_span1 {
        font-size: 36px;
        line-height: 48px;
        margin-top: 30px;
    }

    .about_session8_para2 {
        margin-top: 10px;
        width: auto;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        margin-left: 10px;
    }

    .about_session8_para3 {
        margin-top: 360px;
        width: auto !important;
        margin-left: 10px !important;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        position: absolute;

    }

    .about_session8_image_col{
        
        
    }


    .about_session8_image {
        width: 277px !important;
        height: 292px !important;
        margin-left: 20px;
        margin-top: 10px !important;
        position: absolute;

    }

    .about_session8_button {
        background-color: red !important;
    }

    .bottom-buttons {
        margin-top: 320px;
        /* width: 300px; */
        display: flex;
flex-direction: row;
justify-content: center;
gap: 5px;
    }

    .about_session8_button_div {
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;

    }

    .about_session8_button {
        margin-top: 550px !important;
        position: absolute;
        width: 147px !important;
        height: 36px !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.11px;
        text-align: center;



    }
}





@media (min-width: 321px) and (max-width:375px){
    .about_session8_maindiv {
        height: auto;
        margin-top: 50px;
        position: relative;
    }

    .about_session8_para1 {
        width: 280px;
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: center;
        margin-left: 10px !important;


    }

    .about_session8_span1 {
        font-size: 36px;
        line-height: 48px;
        margin-top: 30px;
    }

    .about_session8_para2 {
        margin-top: 10px;
        width: 330px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        margin-left: 20px !important;

    }

    .about_session8_para3 {
        margin-top: 360px;
        width: 340px !important;
        margin-left: 20px !important;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        position: absolute;

    }
.about_session8_image_col{
   
}

    .about_session8_image {
        width: 277px !important;
        height: 292px !important;
        margin-left: 50px !important;
        margin-top: 5px !important;
        position: absolute;

        
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }



    .bottom-buttons {
        margin-top: 320px;
        /* width: 300px; */
        display: flex;
flex-direction: row;
justify-content: center;
gap: 5px;

    }

    .about_session8_button_div {
      
display: flex;
flex-direction: column;
align-items: center;
    }

    .about_session8_button {
        margin-top: 550px !important;
        position: absolute;
        width: 147px !important;
        height: 36px !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.11px;
        text-align: center;


    }
}



@media (min-width: 376px) and (max-width:425px) {
    .about_session8_maindiv {
        height: auto;
        margin-top: 50px;
        position: relative;
    }

    .about_session8_para1 {
        width: 280px;
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: center;
        margin-left: 10px !important;


    }

    .about_session8_span1 {
        font-size: 36px;
        line-height: 48px;
        margin-top: 30px;
    }

    .about_session8_para2 {
        margin-top: 10px;
        width: 370px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        margin-left: 20px !important;

    }

    .about_session8_para3 {
        margin-top: 360px;
        width: 390px !important;
        margin-left: 20px !important;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        position: absolute;
    }
.about_session8_image_col{
   
}

    .about_session8_image {
        width: 316px !important;
        height: 310px !important;
        margin-left: 50px !important;
        margin-top: 10px !important;
        position: absolute;

        
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }



    .bottom-buttons {
        margin-top: 340px;
        /* width: 300px; */
        display: flex;
flex-direction: row;
justify-content: center;
gap: 5px;

    }

    .about_session8_button_div {
      
display: flex;
flex-direction: column;
align-items: center;
    }

    .about_session8_button {
        margin-top: 520px !important;
        position: absolute;
        width: 147px !important;
        height: 36px !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.11px;
        text-align: center;


    }
}







/* <!-- About page session8 finished ================================================================================================================================================ --> */
/* <!-- About page session9 ================================================================================================================================================ --> */
.about_session9_maindiv {
    /* width: 1440px; */
    height: 600px;
    background-color: rgba(35, 137, 156, 0.05);
    position: relative;
    width: 100%;
}

.about_session9_title_div {
    position: absolute;
    margin-top: 64px;
    /* margin-left: 124px; */
    gap: 12px;
    opacity: 0px;
    /* background-color: rgb(196, 113, 113); */
    /* margin-left: 90px; */
}

.about_session9_para1 {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
}

.about_session9_span {
    font-family: ' Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    color: rgba(44, 160, 104, 1);


}

.about_session9_para_div {
    /* width:  990px; */
    margin-top: 28px;
    /* margin-left: 8px; */
    font-family: ' Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    width: 1192px;


}
.about_session9_para2{
    padding-right: 40px !important;
}
.about_sessiion9_logo_div {
    /* width: 1000px; */
    height: 180px;
    top: 299px;
    left: 124px;
    gap: 68px;
    /* background-color: rgb(222, 103, 103); */
    margin-left: 80px;
}

/* .about_session9_logo_col1 {} */

.about_session9_logo {
    width: 145px;
    height: 28px;
    gap: 0px;
    opacity: 0px;

}
.about_session9_button_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_session9_button {
    border: none;
    /* margin-left: 540px; */
    background-color: transparent;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    color: rgba(44, 160, 104, 1);
    margin-top: 50px;

}

/* <!-- About page session9 finished ================================================================================================================================================ --> */
/* <!-- About page session10 ================================================================================================================================================ --> */

.about_session10_maindiv {
    width: 100%;
    height: 585px;
  }
  
  .about_session10_para1 {
    font-family: 'Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    /* margin-left: 90px; */
    margin-top: 50px;
  
  }
  
  .about_session10_span {
    font-family: 'Source Sans Pro';
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    color: rgba(44, 160, 104, 1);
  
  }
  
  .about_session10_para2 {
    /* margin-left: 90px; */
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    color: rgba(103, 105, 104, 1);
    margin-top: 20px;
  
  
  }
  
  .about_session10_image {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 50px !important;
    overflow: hidden;
  }
  
  .about_session10_col {
    /* margin-right: 100px !important; */ 
    margin-left: 0px;
    /* margin-right: 180px; */
  }
  
  .about_session10_image_p1 {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 600;
    line-height: 17.6px;
    /* text-align: center; */
    margin-top: 10px;
    /* margin-left: 100px; */
    background: rgba(225, 205, 251, 1);
    border-radius: 20px;
    width: 80px;
    text-align: center;
    padding: 1px;
  
  }
  
  .about_session10_row_main {
    width: 100%;
  }
  
  .about_session10_image_p2 {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    line-height: 25.14px;
    text-align: left;
    margin-top: 10px;
    /* margin-left: 100px; */
    width: 100%;
    height: 13px;
  }
  
  .about_session10_row {
    width: 100%;
    height: 26px;
    margin-top: 20px !important;
    /* margin-left: 100px !important; */
    /* margin-left: -1px !important; */
  }
  
  .about_session10_col_profile {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
  
  .about_session10_col_profile_name {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    width: 105px;
    height: 11px;
    color: rgba(112, 110, 114, 1);
    padding-top: 3px;
    margin-left: -80px;
  
  
  }
  
  .about_session10_col_profile_dob {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    color: rgba(112, 110, 114, 1);
    padding-top: 3px;
  
  
  }
  
  .about_session10_button {
    border: none;
    background-color: transparent;
    /* margin-left: 100px; */
    margin-top: 40px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: center;
    color: rgba(103, 105, 104, 1);
  
  
  }
  
  .about_session10_image_dot {
    margin-left: 1050px;
    position: absolute;
    margin-top: 80px;
    height: 48px;
    width: 52px;
    z-index: -1;
  }
  
  @media only screen and (max-width:768px){
    .about_session10_maindiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: aqua;
    width: 100%;
  }
    .about_session10_para1 {
      font-size: 32px;
      text-align: left;
      /* margin-left: 90px; */
      margin-top: 20px;
    
    }
    .about_session10_span {
      font-size: 32px;
    }
    .about_session10_para2 {
      font-size: 14px;
      margin-top: 10px;
    }
    .about_session10_image_dot{
      display: none;
    }
    .about_session10_row {
      margin-right: 100px;
      width: 120%;
      height: 26px;
      margin-top: 20px !important;
    }
    .about_session10_image_p1 {
      margin-left: 10px;
    }
    .about_session10_col {
      flex: 0 0 100%;
      max-width: 110%;
      margin-top: 20px;
    }
    .about_session10_image {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 200px;
      border-radius: 20px;
      margin-top: 2px;
      margin-left: 10px;
      margin-right: 0px !important;
      overflow: hidden;
    }
    .about_session10_image_p2 {
      width: 110%;
      font-size: 18px;
      margin-left: 10px;
      line-height: 20px;
    }
    .about_session10_col_profile {
      margin-left: 10px;
      /* margin-top: 15px; */
    }
    .about_session10_col_profile_name {
      font-size: 16px;
      line-height: 20.11px;
      text-align: left;
      width: 105px;
      /* padding-top: 17px; */
      margin-left: -60px;
    }
    .about_session10_col_profile_dob {
      /* padding-right: 30px; */
      font-size: 16px;
      width: 120%;
      line-height: 20.11px;
      text-align: left;
      color: rgba(112, 110, 114, 1);
      /* padding-top: 17px; */
    }
  }

/* <!-- About page session10 finished ================================================================================================================================================ --> */
/* <!-- About page session11 ================================================================================================================================================ --> */
.background-image {
    margin: 0;
    padding: 0;
    background: url('./aboutImages/session11bg.png') no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 95px;
    height: 100hv;
}

.row {
    display: flex;
    align-items: center;
}

.form-head {
    position: relative;
    font-size: 48px;
    margin-bottom: 100px;
    font-weight: 700;
    line-height: 60.34px;
    text-align: left;
    /* margin-top: -80px; */
}

.form-touch {
    color: #2CA068;
}

.form-head::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 10px;
    width: 50px;
    height: 4px;
    border-radius: 8px;
    background-color: #2CA068;
}

.form-top {
    font-size: 24px;
    margin-bottom: 30px;
}

.form-para {
    font-size: 16px;
    margin-bottom: 30px;
    color: #676968;
}

.form-point {
    font-size: 16px;
    color: #676968;
}

.formprofile {
    height: 54px;
    width: 54px;
    border-radius: 50%;
}

.custom-list {
    margin-bottom: 30px;
}

.custom-list li::marker {
    color: #2CA068;
}

.custom-list li {
    color: #676968;
}

.profilename {
    color: #000000;
    font-weight: 500;
    margin-top: 10px !important;
    margin-bottom: -10px;
    margin-left: -350px;
}

.profiletext {
    margin-top: -10px;
    margin-left: -350px;
    color: #676968;
}

.profiletext2 {
    /* margin-left: -150px; */
    color: #676968;
}

.dotimage {
    margin-left: -30px;
}

.circleimage {
    position: absolute;
    /* Ensure proper positioning */
    z-index: -10;
    /* Set z-index to position behind other elements */
    padding-left: 390px;
    margin-top: -50px;
}

.form-container {
    background-color: #ffffff;
    padding-top: 20px !important;
    width: 450px;
    height: auto;
    left: 10px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    padding: 20px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    color: #676968;
}

.form-text {
    font-size: 24px;
}

.form-line {
    border-bottom: 3px solid #2CA068;
    border-radius: 8px;
    width: 90px;
    margin-top: -5px;
    margin-bottom: 30px;
}

.form-star {
    color: red;
}

textarea {
    border: #2CA068;
    height: 150px;
    /* resize: none; */
    resize: none !important;
}

.form-button {
    background: linear-gradient(93.27deg, #23899c -14.73%, #2ca068 104.65%);
    width: 414px;
    height: 42px;
    border-radius: 8px;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.arrowimage {
    margin-left: -10px;
}






/* -------------------Footer ---------------------*/

.footer {
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer h3 {
    color: #000000;
    margin-bottom: 15px !important;
    margin-top: 0;
  }
  
  .footer-about {
    margin-top: -110px !important;
    margin-left: -50px !important;
  }
  .footer-about li{
    width: 500px !important;
  }
  .footer-services {
    margin-left: -50px !important;
  }
  .footer-services li{
    width: 500px !important;
  }
  .footer-technologies{
    margin-top: -80px !important;
    margin-left: 50px !important;
  }
  .footer-technologies li{
    width: 500px !important;
  }
  .footer-industries{
    margin-left: 50px !important;
  }
  .footer-portfolios{
    margin-top: -90px !important;
    margin-right: -80px !important;
    margin-bottom: 150px !important;
  }
  .footer-industries li{
    width: 200px !important;
  }
  .footer-portfolios li{
    width: 100px !important;
  }
  .footer li {
    list-style-type: none;
    color: #676968;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .footer li:hover {
    color: #000000;
    cursor: pointer;
    transform: scale(1.01);
    font-weight: 500;
  }
  .footer-line{
    display: none;
  }
  .footer-border {
    border: none;
    height: 1px;
    background-color: #eeeeee; 
    width: 100%;
    margin-left: -100px;
    padding-left: 200px;
  }
  .copysymbol {
    font-size: 20px;
    margin-top: 10px;
    padding-right: 5px;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
  }
  .footer-text1{
    margin-left: -100px;
  }
  
  .footer-text3{
    margin-right: -100px;
  }
  .footer .container .col-md-3 {
    margin-left: -80px !important;
  }
  
  .footer .container .col-md-3 h3 {
    flex-direction: row;
  }
  
  
  .icon {
    background-color: #f3f3f3 !important;
    border-radius: 50% !important;
    color: #414042 !important;
    margin: 0px 5px !important;
  }
  
  .icon:hover {
    color: #000000;
  }
  
  .footer-column p {
    margin: 0;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 10px; 
  }
  
  .footer-column ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
  }
  
  .footer-column li {
    color: #676968;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .footer-column li:hover {
    color: #000000;
    cursor: pointer;
  }
  .footer-arrow-icon {
    display: none;
    float: right;
    font-weight: bolder !important;
  }
  
  
  
  @media only screen and (max-width: 768px) {
  
  
  
  
  .footer {
      height: auto;
      margin-top: 20px;
      width: 100%;
    }
    #footer-menu {
      display: none;
    }
  
    #footer-menu.active {
      display: block;
      padding-left: 20px;
      margin-top: 20px;
    }
    .footer h3 {
      color: #676968;
      margin-bottom: 0px !important;
      font-size: 16px;
    }
    #footer-column{
      width: 100%;
    }
    .footer-columns {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin: 0 !important;
    }
    .footer-about{
        margin-top: 0px !important;
      margin-left: 0px !important;
    }
    .footer-services{
      margin-left: 0px !important;
    }
    .footer-technologies{
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
    .footer-industries{
      margin-left: 0px !important
    }
    .footer-portfolios{
      margin-left: -90px !important;
      padding-top: 0px !important;
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
    .footer-about li{
      width: 200px !important;
      font-size: 14px;
      margin-left: -20px;
    }
    .footer-services li,.footer-technologies li,.footer-industries li,.footer-portfolios li{
      width: 200px !important;
      margin-left: -20px;
    }
    .footer-line{
      display: block;
    }
    #footer-last-line{
      margin-bottom: -500px !important;
    }
    .footer-border{
      display: none;
    }
    hr .footer-line .service-line{
      padding-right: 50px;
      border: none;
      height: 1px;
      background-color: #eeeeee; 
      width: 500px;
    }
    .footer-arrow-icon {
      display: inline;
    }
    .footer-text1{
      margin-top: 20px;
      margin-left: 0px !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      text-align: center !important;
      /* margin-left: -10px; */
    }
    .footer-text2{
      padding-left: 0px !important;
      font-size: 12px;
    }
    .footer-text3{
      padding-left: -10px !important;
      margin-left: -80px !important;
      font-size: 12px;
      margin-bottom: 20px;
    }
    .copysymbol {
      margin-top: 20px;
      font-size: 20px;
      padding-right: 2px;
    }
    .footer .container .row {
      flex-direction: column;
    }
  }